.wrapper {
  padding: 50px 70px 50px;
  border-radius: 4px;
  max-width: 470px;
  margin: 0 auto 70px auto;
  -webkit-box-shadow: 0px 1px 3px 0px #b2b2b2;
  box-shadow: 0px 1px 3px 0px #b2b2b2;
}

.button {
  color: var(--color-btn);
  background: var(--bc-btn);
  font-size: 16px;
  margin: 30px auto 0 auto;
  display: block;
  padding: 16px 14px;
  border-radius: 14px;
  border-color: transparent;
  outline: none;
  transition: background linear 500px;

  &:hover {
    background: var(--bc-btn-hover);
  }
}

.input {
  font-size: 16px;
  width: 100%;
  padding: 8px 5px;
  border: none;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  box-shadow: inset 0px 1px 2px 0px #e5e5e5;
}
.input:focus {
  outline: 1px solid #354172a4;
}
.label {
  align-self: start;
  color: var(--color-label);
}
