.title {
  color: var(--color-title);
  font-weight: 700;
  font-size: 18px;

  display: flex;
  margin-bottom: 18px;
  justify-content: center;
  align-items: center;
}

.background {
  background-color: rgb(247, 247, 247);
  padding: 12px 12px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px 0px #b2b2b2;
  box-shadow: 0px 1px 3px 0px #b2b2b2;

  margin-bottom: 90px;
}

.iconBook {
  margin-right: 10px;
}
