.container {
  margin-bottom: 10px;
  align-items: flex-start;
}

.title {
  
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}

.input {
  
  width: 200px;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}