
.form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центруємо вміст по горизонталі */
  margin-top: 20px; /* Додатковий відступ від верхнього краю */
}

.title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.input {
  width: 300px; /* Збільшуємо ширину інпуту */
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.button {
  margin-top: 20px;
  width: 200px; /* Збільшуємо ширину кнопки */
  padding: 10px 20px;
  font-size: 16px;
  background-color: hsla(118, 83%, 50%, 0.411);
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-color: chartreuse;
  box-shadow: 0px 2px 5px rgba(16, 46, 19, 0.5); 
}

.button:hover {
  background-color: #e0e0e0;
}
