.headerContainer {
  background-color: #a3e98c48;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 2px 5px rgba(28, 66, 40, 0.5); 
  margin: 0 auto;
  max-width: 768px; 
}

.title {
  color: #2fb836; 
  margin: 0;
  font-size: 1.5rem;
}

.linksContainer {
  display: flex;
  align-items: center;
}

.loginLink {
  color: #7edb95;; 
  text-decoration: none;
  font-weight: 500;
  margin-left: 1rem;
  font-size: 1.35rem;
}

