@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
    position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid{
  background-color: rgba(170, 173, 166, 0.651);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}